<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/bir.html">Azimjon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="#">Channel</a></div>
            </div>
        </div>
        <div class="row aboutme">
            <div class="col-12">
                <h1>About me</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12">
                <p>Man Turg'unaliyeva Sofiya 18 yoshdaman <b>Bo'lajak dasturchi </b>Farg'ona viloyati Marg'ilon shahridan
                    <br>
                    <br>
                    Mani bu sohaga 9 sinfligimda informatika ustozim va dadam qiziqish uyg'otganlar. Chunki dadam ham ingener edilar.</p>
                    <img src="/about/photo/05-Medical-Coder-1265022338-1.jpg" alt="">
                    <h3>Marg'ilon shahridagi 7-umumiy o'rta ta'lim maktabida o'qiyman</h3>
                    <p>9-sinf fan olimpiadasiga tayyorgarlikda jarayonida birinchi marta dasturlashni PaskalABC da ko'rganman </p>
                    <img src="/about/photo/Characteristics-of-a-Coder-800x499.jpg" alt="">

                    <p> Keyin yangi darslikka python dasturlash tili kiritilgan .
                        <b>Python dasturlash tiliga shu qadar qiziqganim uchun </b>, darsdan tashqari holatlarda ham ustoz man bilan shug'ullanardilar. Ustozlarim Malikaopa va Madinaopadan bir umr qarzdorman.</p>
                    <img src="/about/photo/cheerful-positive-coder.jpg" alt="">
                    <p> Vanihoyat 10-sinf fan olimpiadasida shahar bosqichida fahrli 1-o'rinni olib, viloyat bosqichiga yo'llanmaga ega bo'ldim.  Ustozlarim va ota-onamni yuzlarini yorug' qilish baxti nasib etti. </p>
                    <p> Lekin ming afsuski "Python" dasturlash tilini yuqri darajada bilmaganim uchun viloyat bosqichida qoqildim. Lekin umidimni so'nirmadim. Eng kotta orzuyim dasturchi bo'lish edi.</p>
                    <h3>Hozirda orzularimni amalga oshirish uchun Farg'ona shahridagi "Codial" akademiyasining "Backend" kursida o'qiyapman </h3>
            </div>
        </div>
        <div class="footer">
            <p>© 2021 azimjon.com</p>
        </div>
    </div>
</body>
</html>