<!DOCTYPE html>
<html lang="uz">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Blog</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="./bir.html">Azimjon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="#">Channel</a></div>
            </div>
        </div>
        <div class="row blog">
            <div class="col-12">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12 col-md-6 col-sm-6 main-card1">
                <p>2021</p>
                <h3>June</h3>
               {% for maqola in maqolalar %}
                <div class="main-card1-link">
                   <h6>{{ maqola.sana }}</h6><a href="/maqola/{{ maqola.id }}/"><h5>{{ maqola.sarlavha }}</h5></a>
                    <a href="#"><img src="{{ MEDIA_URL }}python.png" alt=""></a>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6 col-sm-6 main-card2">
                <h4>NEWSLETTER</h4>
                <p>Subscribe to <a href="#">@codialuz</a> telegram channel where I share interesting & useful stuff.</p>

            </div>
        </div>
        <div class="row footer">
            <p>© 2021 azimjon.com</p>
        </div>
    </div>
</body>
</html>