<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.css">
    <title>Maqola 1</title>
</head>
<body>
    <div class="container">
        <h1>{{maqola.sarlavha}}</h1>
        <h1>{{maqola.sana}}</h1>
        <div class="row">
            <div class="col-12">
                <img src="{{maqola.rasm.url}}" alt="">
               <h3>{{ maqola.matn}}</h3>
            </div>
            <div class="col-12">
                <img src="./photo/Characteristics-of-a-Coder-800x499.jpg" alt="">

            </div>
        </div>
        <div class="row footer">
            <p>© 2021 azimjon.com</p>
        </div>
    </div>
</body>
</html>